node_modules/
*.log
.DS_Store


# ---------------------------------------------------------------------------
# Claude Stuff
# ---------------------------------------------------------------------------
.claude/launch.json